<?xml version="1.0" encoding="utf-8"?>

<!-- Config file for the game -->
<config>
	<j1Window>
		<name>My super awesome game with XML</name>
		<fullscreen value = "false"/>
		<borderless value = "false"/>
		<resizable value = "true" />
		<fullscreen_window value = "false" />
		<width value = "1024" />
		<height value = "768" />
		<scale value = "1" />
	</j1Window>
  
</config>